.App {
	margin-top: 2rem;
	text-align: center;
}

input {
	outline: none;
	height: 2rem;
	border-radius: 20px;
}

.user-input {
	padding: 1rem;
	margin-top: 1.5rem;
	background: #333;
}

.user-output {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 1rem;
	padding: 1.2rem;
	background: #f4f4f4;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #333;
}
